.big-box {
  height: 100vh;
  /* background-color: grey; */
}

header {
  height: 80px;
  /* background-color: white; */
  position: sticky;
  width: 100%;
  margin-top: 0;
}

.pic-small {
  width: 30px;
  height: 30px;
}

main {
  height: calc(100% - 100px);
  /* background-color: lightskyblue; */
}

.stats {
  height: calc(100vh - 80px);
}

.sidebar {
  background-image: url("../img/sidebar-bg.png");
  height: calc(100vh - 80px);
  background-color: rgba(5, 30, 52, 1);
}

.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: var(--bs-breadcrumb-item-padding-x);
  color: white;
  content: var(--bs-breadcrumb-divider, "/");
}

/* hover pils header blu */

.hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.hover:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

/* hover menu sidebar */

.hover-1:hover {
  background-color: gray;
}

.navbar-toggler {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: var(--bs-navbar-color);
  background-color: transparent;
  border: 0;
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}

.img-list {
  width: 30px;
}

.offcanvas.offcanvas-end {
  top: 0;
  right: 0;
  width: 100%;
  border-left: var(--bs-offcanvas-border-width) solid
    var(--bs-offcanvas-border-color);
  transform: translateX(100%);
}

@media screen and (min-width: 992px) {
  .offcanvas.offcanvas-end {
    top: 0;
    right: 0;
    width: 70%;
    border-left: var(--bs-offcanvas-border-width) solid
      var(--bs-offcanvas-border-color);
    transform: translateX(100%);
  }
}
