.big-box {
  height: 100vh;
  background-color: grey;
}

header {
  height: 80px;
  background-color: white;
  position: sticky;
  width: 100%;
  margin-top: 0;
}

main {
  height: calc(100% - 100px);
  background-color: lightskyblue;
}

.form-control {
  display: block;
  width: 80%;
  margin-left: 20px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  background-color: rgb(206, 206, 206);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  opacity: 0.5;
}

.stats {
  height: calc(100vh - 80px);
}

.sidebar {
  background-image: url("../img/sidebar-bg.png");
  height: calc(100vh - 80px);
}

.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: var(--bs-breadcrumb-item-padding-x);
  color: white;
  content: var(--bs-breadcrumb-divider, "/");
}

.navbar-toggler {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: var(--bs-navbar-color);
  background-color: transparent;
  border: 0;
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}

.img-list {
  width: 30px;
}

.offcanvas.offcanvas-end {
  top: 0;
  right: 0;
  width: 100%;
  border-left: var(--bs-offcanvas-border-width) solid
    var(--bs-offcanvas-border-color);
  transform: translateX(100%);
}

@media screen and (min-width: 992px) {
  .offcanvas.offcanvas-end {
    top: 0;
    right: 0;
    width: 70%;
    border-left: var(--bs-offcanvas-border-width) solid
      var(--bs-offcanvas-border-color);
    transform: translateX(100%);
  }
}
